<!-- Hero header: will stick at the top -->
<div class="hero-head">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
          <span class="title">Veye/Slack</span>
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a href="/pages/commands" class="nav-item is-active">
          Commands
        </a>
        <span class="nav-item">
          <a class="button is-info is-inverted" href="https://github.com/timgluz/veyeslack">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
            <span>Download</span>
          </a>
        </span>
      </div>
    </div>
  </header>
</div>
