<div id="install-guide" class="container">
  <div class="heading">
    <h1 class="title">Install guide</h1>
    <h2 class="subtitle">
      {% include "templates/partials/slack_button.html" %}
    </h2>
  </div>

  <div>
    <p>
      Click on Slack button, select your team and pick a channel where you want to receive
      VersionEye notications and after successful authorization page you should see
      the success-page with small walktrough examples.
    </p>

    <p>
      You need to have VersionEye API-token to access your projects on VersionEye.
      Copy token from <a href="">API page</a> and use <i>/veye connect YOURTOKEN</i>
      and you can now access your VersionEye data without leaving Slack.
    </p>
  </div>
</div>
