<div id="rationale" class="container">
  <div class="heading">
    <h1 class="title">Rationale</h1>
    <h2 class="subtitle">
      Short introduction
    </h2>
  </div>

  <div class="content is-medium">
    <p>
      VersionEye is a service that tracks a release of software libraries of various programming
      languages, so you can keep eye on hotfixes, breaking changes and conflicts of licenses
      without any hassle and it all happens on background.
    </p>

    <p>
      <strong>Veye/Slack</strong> is a hip version of
      <a href="https://github.com/versioneye/veye">VersionEye command-line tool</a>
      and most of commands in Veye/Slack  are inspired by that CLI-tool.

      <br />
      This tool is open-source project and every feedback is very welcome.
      <br />

      <img src="/static/img/hello.png" class="image"/>
    </p>
  </div>
</div>
