---
app_enviroment: |
  APP_ENV="production"
  APP_PORT=3030
  APP_BASEDIR="/var/www/veyeslack"
  DB_HOST="127.0.0.1"
  DB_PORT=5432
  DB_NAME="veyeslack_production"
  DB_USER="veyeslack"
  DB_PASSWORD="change me"
  SLACK_CLIENT_ID="change me"
  SLACK_CLIENT_SECRET="change me"
  SLACK_REDIRECT_URL="change me"
  ROLLBAR_TOKEN="change me"
